.button {
    -fx-background-color: linear-gradient( #C8A2C8, #C8A2C8); /* cor de fundo */
    -fx-border-color: #C8A2C8;   /* cor da linha/borda */
    -fx-border-width: 2;         /* espessura da borda */
    -fx-border-radius: 8;        /* cantos arredondados da borda */
    -fx-background-radius: 8;    /* cantos arredondados do fundo */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1); /* sombra 3D */
    -fx-font-size: 16pt;
    -fx-text-fill: #8c0000;
    -fx-padding: 8 15 8 15;
}

.button:hover {
    -fx-background-color: linear-gradient(#ffdd00, #f0a500); /* fundo ao passar o rato */
    -fx-border-color: #990000;  /* muda a cor da borda no hover se quiser */
}




